<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <style>
  body {
    padding: 20px;
  }
  [data-toggle="button"] {
    outline: 0 !important;
  }
  #input {
    font-family: monospace;
  }
  </style>
</head>
<body ng-app>
  <div class="container" ng-controller="MainCtrl">
    <div class="panel panel-default">
      <div class="panel-body">
        <input type="text" id="input" ng-model="input" ng-keyup="update()" class="form-control" />
      </div>
      <div class="panel-footer"><code id="buffer">Panel footer</code></div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">asdf</div>
      <!-- <div class="panel-body">
      </div> -->
      <table class="table">
        <thead>
          <tr>
            <th>chr</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in stack">
            <td>{{ row.chr }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <script src="jquery-1.11.1.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="parser.js"></script>
  <script>
    function MainCtrl ( $scope, $timeout ) {
      $scope.input = "";

      $scope.stack = [];

      var $input = $("#input").focus();


      var lastValue = $input.val();
      $scope.update = function () {
        var index = $input[0].selectionStart;
        var value = $input.val();
        if ( index ) {
          if ( value && value !== lastValue ) {
            // lastValue = valu/e;
            // updateStack(parse(value, index));
            $scope.stack = parse(value, index);
          } else {
            $scope.stack = [];
          }
        }
      };

      function updateStack ( info ) {
        console.log(info);
        // $timeout(function () {
          $scope.stack.push(info);
        // });
      }

      $scope.update();
    }

    // var input = "name";
    // var $input = $("#input").val(input).focus();
    // var $buffer = $("#buffer");

    // var ARROW_LEFT = 37;
    // var ARROW_RIGHT = 39;

    // $input.on("keydown, keyup", function ( event ) {
    //   update();
    // });

    // function update () {
    //   var index = $input[0].selectionStart;
    //   var value = $input.val();
    //   if ( index && value ) {
    //     parse(value, index, updateDebug);
    //   }
    // }

    // var debugs = [];
    // function updateDebug ( info ) {
    //   $buffer.text(info.buffer);
    //   $("#chr").text(info.chr);
    // }

    // update();
  </script>
</body>
</html>
